<div class="card bg-base-300 shadow-xl w-64 h-96 hover:scale-105 hover:cursor-pointer duration-300 ">
    <figure (click)="showDetails()">
        <img [src]="baseImgURL + imageURL" alt="Shoes"
            class="absolute inset-0 h-full w-full object-cover z-0 rounded-xl" />
        <!-- Black overlay -->
        <div class="absolute inset-0 bg-black/30 z-5"></div>
    </figure>
    <!-- <div class="card-body relative z-10 m-[-10%]"> -->
        <!-- <div class="badge badge-ghost p-3 font-semibold">0/39 Episodes</div>  -->
    <!-- </div> -->
</div>