<!-- <div *ngFor="let movie of movies">
    <h3>{{ movie.title }}</h3>
    <p>{{ movie.overview }}</p>
</div> -->
<!-- <div class="relative mx-10">
    <button class="absolute left-7 top-1/2 bg-neutral rounded-full p-2 shadow-md z-20" (click)="scrollLeft()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
            class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
        </svg>
    </button>
    <div class="carousel carousel-center bg-ghost rounded-box max-w-full space-x-4 p-5" #carousel>
        <div class="carousel-item" *ngFor="let movie of movies">
            <app-card [imageURL]="movie.poster_path" />
        </div>
    </div>
    <button class="absolute right-3 top-1/2 bg-neutral rounded-full p-2 shadow-md z-20" (click)="scrollRight()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
            class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
        </svg>
    </button>
</div> -->
<!-- <div id="wrapper" class="lg:px-16 flex flex-col gap-7 items-center">
    <h1 class="text-xl font-bold bg-neutral px-5 py-2 rounded-lg">Popular this week</h1>
    <div id="list-wrapper" class="flex flex-wrap gap-4 justify-center">
        <app-card [imageURL]="movie.poster_path" *ngFor="let movie of movies" />
    </div>
</div> -->


<div id="wrapper" class="lg:px-5">
    <!-- <h1 class="text-2xl font-bold">Popular this week</h1>
    <div class="relative"> -->
    <!-- Scroll Left Button -->
    <!-- <button class="absolute left-7 top-1/2 -translate-y-1/2 bg-black rounded-full p-2 shadow-md z-20" (click)="scrollLeft(carouselPouplar)">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
            </svg>
        </button>
        <div class="carousel carousel-center bg-ghost rounded-box max-w-full space-x-4 py-3 h-fit mb-16" #carouselPouplar>
            <div class="carousel-item" *ngFor="let movie of popularMovies">
                <app-card [imageURL]="movie.poster_path" [details]="movie" [mediaType]="'movie'"/>
            </div>
        </div> -->
    <!-- Scroll Right Button -->
    <!-- <button class="absolute right-3 top-1/2 -translate-y-1/2 bg-black rounded-full p-2 shadow-md z-20" (click)="scrollRight(carouselPouplar)">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
            </svg>
        </button>
    </div> -->

    <!-- <h1 class="text-2xl font-bold">Now Playing</h1>
    <div class="relative"> -->
    <!-- Scroll Left Button -->
    <!-- <button class="absolute left-7 top-1/2 -translate-y-1/2 bg-black rounded-full p-2 shadow-md z-20" (click)="scrollLeft(carouselNowPlaying)">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
            </svg>
        </button>
        <div class="carousel carousel-center bg-ghost rounded-box max-w-full space-x-4 py-3 h-fit mb-16" #carouselNowPlaying>
            <div class="carousel-item" *ngFor="let movie of nowPlayingMovies">
                <app-card [imageURL]="movie.poster_path" [details]="movie" [mediaType]="'movie'"/>
            </div>
        </div> -->
    <!-- Scroll Right Button -->
    <!-- <button class="absolute right-3 top-1/2 -translate-y-1/2 bg-black rounded-full p-2 shadow-md z-20" (click)="scrollRight(carouselNowPlaying)">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
            </svg>
        </button>
    </div> -->

    <h1>
        <svg width="400" height="100" viewBox="0 0 400 100" fill="none" xmlns="http://www.w3.org/2000/svg">
            <defs>
                <!-- Define the glow effect -->
                <filter id="glow" x="-50%" y="-50%" width="200%" height="200%">
                    <feGaussianBlur stdDeviation="3" result="coloredBlur" />
                    <feMerge>
                        <feMergeNode in="coloredBlur" />
                        <feMergeNode in="SourceGraphic" />
                    </feMerge>
                </filter>
            </defs>

            <!-- Text with glow effect -->
            <text x="10" y="70" font-size="50" font-family="Arial, sans-serif" font-weight="bold" stroke="currentcolor"
                stroke-width="2" fill="transparent" filter="url(#glow)">
                TOP RATED
            </text>
        </svg>
    </h1>
    <div class="relative">
        <!-- Scroll Left Button -->
        <button class="absolute left-7 top-1/2 -translate-y-1/2 bg-black rounded-full p-2 shadow-md z-20"
            (click)="scrollLeft(carouselTopRated)">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
            </svg>
        </button>
        <div class="carousel carousel-center bg-ghost rounded-box max-w-full space-x-4 py-3 h-fit mb-16"
            #carouselTopRated>
            <div class="carousel-item" *ngFor="let movie of topRatedMovies">
                <app-card [imageURL]="movie.poster_path" [details]="movie" [mediaType]="'movie'" />
            </div>
        </div>
        <!-- Scroll Right Button -->
        <button class="absolute right-3 top-1/2 -translate-y-1/2 bg-black rounded-full p-2 shadow-md z-20"
            (click)="scrollRight(carouselTopRated)">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
            </svg>
        </button>
    </div>

    <h1>
        <svg width="400" height="100" viewBox="0 0 400 100" fill="none" xmlns="http://www.w3.org/2000/svg">
            <defs>
                <!-- Define the glow effect -->
                <filter id="glow" x="-50%" y="-50%" width="200%" height="200%">
                    <feGaussianBlur stdDeviation="3" result="coloredBlur" />
                    <feMerge>
                        <feMergeNode in="coloredBlur" />
                        <feMergeNode in="SourceGraphic" />
                    </feMerge>
                </filter>
            </defs>

            <!-- Text with glow effect -->
            <text x="10" y="70" font-size="50" font-family="Arial, sans-serif" font-weight="bold" stroke="currentcolor"
                stroke-width="2" fill="transparent" filter="url(#glow)">
                POPULAR
            </text>
        </svg>
    </h1>
    <div class="flex justify-between mt-[-10px] mb-5">
        <img [src]="'logo-provider-' + popularSelect + '.png'" alt="Provider Logo" class="ml-3 w-fit h-fit">
        <div class="flex items-center gap-4 w-fit">
            <select id="video-type" class="select max-w-xs bg-neutral" [(ngModel)]="popularSelect" (change)="onPopularChange()">
                <option value="8">Netflix</option>
                <option value="1899">Max</option>
                <option value="337">Disney +</option>
                <option value="350">Apple TV</option>
            </select>
        </div>
    </div>
    <div class="relative">
        <!-- Scroll Left Button -->
        <button class="absolute left-7 top-1/2 -translate-y-1/2 bg-black rounded-full p-2 shadow-md z-20"
            (click)="scrollLeft(carouselPopular)">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
            </svg>
        </button>
        <div class="carousel carousel-center bg-ghost rounded-box max-w-full space-x-4 py-3 h-fit mb-16"
            #carouselPopular>
            <div class="carousel-item" *ngFor="let movie of popularMovies">
                <app-card [imageURL]="movie.poster_path" [details]="movie" [mediaType]="'movie'" />
            </div>
        </div>
        <!-- Scroll Right Button -->
        <button class="absolute right-3 top-1/2 -translate-y-1/2 bg-black rounded-full p-2 shadow-md z-20"
            (click)="scrollRight(carouselPopular)">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
            </svg>
        </button>
    </div>
</div>