<div id="wrapper" class="lg:px-16 lg:mt-28">
    <h1>
        <svg width="400" height="100" viewBox="0 0 400 100" fill="none" xmlns="http://www.w3.org/2000/svg">
            <defs>
                <!-- Define the glow effect -->
                <filter id="glow" x="-50%" y="-50%" width="200%" height="200%">
                    <feGaussianBlur stdDeviation="3" result="coloredBlur" />
                    <feMerge>
                        <feMergeNode in="coloredBlur" />
                        <feMergeNode in="SourceGraphic" />
                    </feMerge>
                </filter>
            </defs>

            <!-- Text with glow effect -->
            <text x="10" y="70" font-size="50" font-family="Arial, sans-serif" font-weight="bold" stroke="currentcolor"
                stroke-width="2" fill="transparent" filter="url(#glow)">
                TOP RATED
            </text>
        </svg>
    </h1>
    <div class="relative">
        <!-- Scroll Left Button -->
        <button class="absolute left-7 top-1/2 -translate-y-1/2 bg-black rounded-full p-2 shadow-md z-20"
            (click)="scrollLeft(carouselTopRated)">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
            </svg>
        </button>
        <div class="carousel carousel-center bg-ghost rounded-box max-w-full space-x-4 py-3 h-fit mb-16"
            #carouselTopRated>
            <div class="carousel-item" *ngFor="let show of topRatedShows">
                <app-card [imageURL]="show.poster_path" [details]="show" [mediaType]="'tv'" />
            </div>
        </div>
        <!-- Scroll Right Button -->
        <button class="absolute right-3 top-1/2 -translate-y-1/2 bg-black rounded-full p-2 shadow-md z-20"
            (click)="scrollRight(carouselTopRated)">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
            </svg>
        </button>
    </div>


    <h1>
        <svg width="400" height="100" viewBox="0 0 400 100" fill="none" xmlns="http://www.w3.org/2000/svg">
            <defs>
                <!-- Define the glow effect -->
                <filter id="glow" x="-50%" y="-50%" width="200%" height="200%">
                    <feGaussianBlur stdDeviation="3" result="coloredBlur" />
                    <feMerge>
                        <feMergeNode in="coloredBlur" />
                        <feMergeNode in="SourceGraphic" />
                    </feMerge>
                </filter>
            </defs>

            <!-- Text with glow effect -->
            <text x="10" y="70" font-size="50" font-family="Arial, sans-serif" font-weight="bold" stroke="currentcolor"
                stroke-width="2" fill="transparent" filter="url(#glow)">
                POPULAR
            </text>
        </svg>
    </h1>
    <div class="flex justify-between mt-[-10px] mb-5">
        <img [src]="'logo-provider-' + popularSelect + '.png'" alt="Provider Logo" class="ml-3 w-fit h-fit">
        <div class="flex items-center gap-4 w-fit">
            <select id="video-type" class="select max-w-xs bg-neutral" [(ngModel)]="popularSelect"
                (change)="onPopularChange()">
                <option value="8">Netflix</option>
                <option value="1899">Max</option>
                <option value="337">Disney +</option>
                <option value="350">Apple TV</option>
            </select>
        </div>
    </div>
    <div class="relative">
        <!-- Scroll Left Button -->
        <button class="absolute left-7 top-1/2 -translate-y-1/2 bg-black rounded-full p-2 shadow-md z-20"
            (click)="scrollLeft(carouselPopular)">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
            </svg>
        </button>
        <div class="carousel carousel-center bg-ghost rounded-box max-w-full space-x-4 py-3 h-fit mb-16"
            #carouselPopular>
            <div class="carousel-item" *ngFor="let show of popularShows">
                <app-card [imageURL]="show.poster_path" [details]="show" [mediaType]="'tv'" />
            </div>
        </div>
        <!-- Scroll Right Button -->
        <button class="absolute right-3 top-1/2 -translate-y-1/2 bg-black rounded-full p-2 shadow-md z-20"
            (click)="scrollRight(carouselPopular)">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
            </svg>
        </button>
    </div>
</div>